.images{
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 3px solid black;
}

.btn{
    margin-left: 55px;
    margin-top: 15px;
    height: 30px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}