.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(127, 180, 255);
  margin-top: 35px;
  height: 400px;
  width: 450px;
  margin-left: 40%;
  border-radius: 50px;

}

.input{
  width: 180px;
  margin-top: 95px;
  height: 28px;
  border: none;

}

.btn{
  margin-top: 35px;
  background-color: black;
  color: antiquewhite;
  height: 35px;
  width: 85px;
  font-size: 20px;
  cursor: pointer;
}

.myName{
  background-color: white;
  color: chocolate;
  font-family: Arial, Helvetica, sans-serif;
}