.guessNumber{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 550px;
    margin-top: 50px;
    border-radius: 20%;
}

.text{
    /* margin-bottom: 100px; */
}

.input-field{
    margin-bottom: 30px;
    height: 30px;
    width: 190px;
    font-size: 20px;
    

}
.btn{
    background-color: black;
    color: white;
    height: 45px;
    width: 100px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 20px;
}

.result{
    background-color: blanchedalmond;
    height: 80px;
    align-items: center;
    display: flex;
    width: 450px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 20px;
}