.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.lists{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteItem{
    margin-left: 55px;
}

.input{
    display: flex;
    height: 30px;
    width: 250px;
    margin-top: 50px;
}

.field-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 400px;
    background-color: antiquewhite;
    min-height: 400px;

}